{% load sass_tags %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% sass_src 'ec/style.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'homepage/style.scss' %}">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  <footer>©️Yuki Yokochi</footer>
</html>
